# Web Framework e Servidor
fastapi>=0.109.0,<0.110.0
uvicorn>=0.27.0,<0.28.0

# Banco de Dados
SQLAlchemy>=2.0.25,<2.1.0

# Autenticação e Segurança
PyJWT>=2.8.0,<2.9.0
bcrypt>=4.1.0,<4.2.0
passlib>=1.7.4,<1.8.0
python-jose>=3.3.0,<3.4.0
python-multipart>=0.0.6,<0.0.7

# Validação
email-validator>=2.1.0,<2.2.0
pydantic>=2.6.0,<2.7.0
pydantic-core>=2.14.0,<2.15.0
pydantic-settings>=2.1.0,<2.2.0

# Utilitários
python-dotenv>=1.0.0,<1.1.0
requests>=2.31.0,<2.32.0

# Dependências do Sistema
colorama>=0.4.6,<0.5.0  # Para Windows
typing-extensions>=4.9.0,<4.10.0